Repository Hugo-CASTELL/sae-bibliotheque, pull requests merged in 2024-02, with the labels that each got.

#18 API Platform & CRUD Basique cf routes api sheets
  backend/.env.example
  backend/composer.json
  backend/composer.lock
  backend/config/bundles.php
  backend/config/packages/api_platform.yaml
  backend/config/packages/nelmio_cors.yaml
  backend/config/routes/api_platform.yaml
  backend/src/ApiResource/.gitignore
  backend/src/Entity/Adherent.php
  backend/src/Entity/Auteur.php
  backend/src/Entity/Categorie.php
  backend/src/Entity/Livre.php
  backend/src/Entity/Reservations.php
  backend/symfony.lock
Labels: backend

#22 Front/init
  .gitignore
  frontend/.editorconfig
  frontend/.gitignore
  frontend/README.md
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.css
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/livres-list/livres-list.component.css
  frontend/src/app/livres-list/livres-list.component.html
  frontend/src/app/livres-list/livres-list.component.ts
  frontend/src/app/models/adherent.ts
  frontend/src/app/models/auteur.ts
  frontend/src/app/models/categorie.ts
  frontend/src/app/models/emprunt.ts
  frontend/src/app/models/livre.ts
  frontend/src/app/models/reservations.ts
  frontend/src/app/models/utilisateur.ts
  frontend/src/app/services/api.service.ts
  frontend/src/assets/.gitkeep
  frontend/src/favicon.ico
  frontend/src/index.html
  frontend/src/main.ts
  frontend/src/styles.css
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.spec.json
Labels: frontend

#30 fix #26
  backend/src/Entity/Emprunt.php
Labels: backend

#29 27 create login page + account page
  frontend/src/app/account/account.component.css
  frontend/src/app/account/account.component.html
  frontend/src/app/account/account.component.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/livres-list/livres-list.component.ts
  frontend/src/app/login/login.component.css
  frontend/src/app/login/login.component.html
  frontend/src/app/login/login.component.ts
  frontend/src/app/models/api/inputUpdateAccount.ts
  frontend/src/app/services/api.service.ts
  frontend/src/app/services/auth.service.ts
Labels: frontend

#42 20 lien vers lapi (page Login)
  frontend/src/app/account/account.component.ts
  frontend/src/app/login/login.component.html
  frontend/src/app/login/login.component.ts
  frontend/src/app/models/api/input/inputLogin.ts
  frontend/src/app/models/api/input/inputUpdateAccount.ts
  frontend/src/app/models/api/output/outputLogin.ts
  frontend/src/app/services/api.service.ts
  frontend/src/app/services/auth.service.ts
Labels: frontend

#43 #33 in progress
  frontend/src/app/livres-list/livres-list.component.html
  frontend/src/app/livres-list/livres-list.component.ts
  frontend/src/app/models/auteur.ts
  frontend/src/app/services/api.service.ts
Labels: frontend

#45 33 recherche de livre done
  frontend/src/app/livres-list/livres-list.component.html
  frontend/src/app/livres-list/livres-list.component.ts
  frontend/src/app/services/api.service.ts
Labels: frontend

#49 #48 done
  frontend/src/app/login/login.component.html
  frontend/src/app/login/login.component.ts
Labels: frontend

#50 Change app fixtures to have more descriptive Fixtures - Remplacer le …
  backend/src/DataFixtures/AppFixtures.php
Labels: data

#55 fix: error for admin login user api
  backend/src/Controller/Api/UserController.php
  backend/src/Entity/Utilisateur.php
Labels: backend

#56 #20: Page modification de compte liée à l'API + gestion jwt token
  frontend/src/app/account/account.component.html
  frontend/src/app/account/account.component.ts
  frontend/src/app/login/login.component.ts
  frontend/src/app/models/adherent.ts
  frontend/src/app/services/api.service.ts
  frontend/src/app/services/auth.service.ts
Labels: frontend

#53 Feat/gestion reservations
  backend/src/Controller/Admin/EmpruntCrudController.php
  backend/src/Controller/Admin/ReservationsCrudController.php
  backend/src/Entity/Livre.php
  backend/src/Entity/Reservations.php
Labels: backend

#60 Beautiful main page for books
  frontend/src/app/livres-list/livres-list.component.html
  frontend/src/app/livres-list/livres-list.component.ts
Labels: frontend

#63 Gray buttons and redirect to login page when not authentificated #62
  frontend/src/app/livres-list/livres-list.component.html
  frontend/src/app/livres-list/livres-list.component.ts
Labels: frontend

#65 Alert on reserving a book and update UI | Books' page
  frontend/src/app/livres-list/livres-list.component.html
  frontend/src/app/livres-list/livres-list.component.ts
  frontend/src/app/services/api.service.ts
Labels: frontend

#68 Pagination 👍
  backend/src/Controller/Api/LivreController.php
  backend/src/Entity/Livre.php
  frontend/src/app/livres-list/livres-list.component.html
  frontend/src/app/livres-list/livres-list.component.ts
  frontend/src/app/services/api.service.ts
Labels: frontend

#73 Fix/books search
  backend/src/Controller/Api/LivreController.php
  frontend/src/app/livres-list/livres-list.component.html
  frontend/src/app/livres-list/livres-list.component.ts
  frontend/src/app/services/api.service.ts
Labels: frontend

#77 #76 done
  frontend/src/app/account/account.component.html
  frontend/src/app/account/account.component.ts
  frontend/src/app/reservation-card/reservation-card.component.html
  frontend/src/app/reservation/reservation.component.ts
Labels: enhancement, frontend

#78 Details working
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/livre-details/livre-details.component.css
  frontend/src/app/livre-details/livre-details.component.html
  frontend/src/app/livre-details/livre-details.component.ts
  frontend/src/app/livres-list/livres-list.component.html
  frontend/src/app/livres-list/livres-list.component.ts
  frontend/src/app/login/login.component.ts
  frontend/src/app/reservation-card/reservation-card.component.html
  frontend/src/app/reservation-card/reservation-card.component.ts
  frontend/src/app/services/api.service.ts
Labels: frontend

#83 #82 amélioration du style
  frontend/angular.json
  frontend/src/app/account/account.component.html
  frontend/src/app/livres-list/livres-list.component.html
  frontend/src/app/livres-list/livres-list.component.ts
  frontend/src/app/login/login.component.html
Labels: frontend

#90 Custom nblivres for results
  frontend/src/app/livres-list/livres-list.component.html
  frontend/src/app/livres-list/livres-list.component.ts
Labels: frontend

#89 Red when emprunt is late
  frontend/src/app/emprunt-card/emprunt-card.component.html
  frontend/src/app/emprunt-card/emprunt-card.component.ts
  frontend/src/app/emprunt/emprunt.component.html
  frontend/src/app/reservation-card/reservation-card.component.ts
Labels: frontend

#92 Removed all console messages
  frontend/src/app/account/account.component.ts
  frontend/src/app/emprunt/emprunt.component.ts
  frontend/src/app/livre-details/livre-details.component.ts
  frontend/src/app/livres-list/livres-list.component.ts
  frontend/src/app/login/login.component.ts
  frontend/src/app/reservation-card/reservation-card.component.ts
  frontend/src/app/reservation/reservation.component.ts
  frontend/src/app/services/api.service.ts
  frontend/src/app/services/auth.service.ts
Labels: frontend
